// font families
$font-family-primary: 'Sans', sans-serif;
$font-family-secondary: 'Antiqua', serif;


// colors
$color-text-primary: #7A7D84;
$color-text-secondary: #247EE5;

$color-white: #FFF;


// Screen viewport
$screen-phone-big-min: 480px;
$screen-tablet-min: 720px;
$screen-tablet-big-min: 962px;
$screen-desktop-min: 1280px;
$screen-desktop-big-min: 1920px;