// font families
$font-family-primary: 'Sans', sans-serif;
$font-family-secondary: 'Antiqua', serif;


// colors
$color-text-primary: #7A7D84;
$color-text-secondary: #000E29;

$color-white: #FFF;
$color-blue: #247EE5;
$color-gradient-blue: linear-gradient(90deg, #0F44B2 0%, #247EE5 100%);


// Screen viewport
$screen-phone-big-min: 480px;
$screen-tablet-min: 720px;
$screen-tablet-big-min: 962px;
$screen-desktop-min: 1280px;
$screen-desktop-big-min: 1920px;