// font families
$font-family-primary : 'Sans', sans-serif;
$font-family-secondary : 'Antiqua', sans-serif;

// colors
$color-curious-blue : #247ee5;
$color-tory-blue : #0f44b2;
$color-light-blue : #81b5ff;
$color-black-squeeze : #f7fafc;
$color-white : #ffffff;
$color-solitude : #eef6fe;
$color-river-bed : #444f5c;
$color-rolling-stone : #7a7d84;
$color-torea-bay : #0c3894;
$color-stratos : #001a4b;
$color-matisse : #1e5b9a;
$color-mercury : #e9e9e9;
$color-footer-link : rgba(255, 255, 255, 0.6);
$color-footer-link-active : rgba(255, 255, 255, 0.88);
$color-footer-text : rgba(255, 255, 255, 0.44);
$color-gradient-blue-light : linear-gradient(270deg, #247ee5 0%, #0f44b2 100%);
$color-gradient-blue-light-revert : linear-gradient(180deg, #0f44b2 0%, #247ee5 100%);
$color-gradient-blue-dark : linear-gradient(270deg, #0f44b2 0%, #042052 100%);
$color-gradient-button-blue : linear-gradient(90deg, #0f44b2 0%, #247ee5 100%);
$color-alert-red : #ff0000;
$color-transparent : transparent;
$color-cinnabar : #ea4335;
$color-mercury : #e5e5e5;
$color-user-is-active : #34a853;
$color-price : #257ee5;
$color-terms-text-decoration : rgba(36, 126, 229, 0.2);
$color-form-input-placeholder : rgba(122, 125, 132, 0.5);
$color-count : #38eff3;
$color-close : #e8f3ff;
$color-table-border : #e0e1e3;

// Screen viewport
$screen-phone-irregular-min : 394px;
$screen-phone-big-min : 480px;
$screen-tablet-min : 720px;
$screen-tablet-big-min : 962px;
$screen-desktop-min : 1280px;
$screen-desktop-l : 1366px;
$screen-desktop-big-min : 1920px;

$main_offset : 20px;
$transition : .3s;